{% extends 'baseAdmin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Users edit</h1>

    {{ form_start(edit_form) }}
        {#{{ form_label(edit_form.username) }}
        {{ form_errors(edit_form.username) }}
        {{ form_widget(edit_form.username) }}#}
        {{ form_widget(edit_form) }}<br />
        <input type="submit" class="btn btn-info" value="Save Edit" />
    {{ form_end(edit_form) }}
<br>
            <a href="{{ path('users_index') }}">Back to the list</a><br>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this record?')" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}
