{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Users List</h1>
    {{ knp_pagination_render(pagination) }}
    <a class="pull-right btn btn-small" href="{{ path('users_new') }}"><i class="fa fa-plus-square-o"></i>&nbsp;Create a new User</a><br /><br />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Is_active</th>
                <th width="100">Actions</th>
            </tr>
        </thead>

      <tbody>

          {% for user in pagination %}
              <tr>
                  <td>{{ pagination.getPaginationData.firstItemNumber + loop.index - 1 }}</td>
                  <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                  <td>{% for role in user.roles %} {{ role | raw }} {% endfor %}</td>
                  <td>{% if user.isactive %}Yes{% else %}No{% endif %}</td>
                  <td>
                      <a class="btn btn-small" href="{{ path('users_edit', { 'id': user.id }) }}">
                        <button type="submit" class="btn btn-small">
                          <i class="fa fa-pencil-square-o "></i>
                          Edit
                        </button>
                      </a>
                      {{ form_start(deleteForms[user.id]) }}
                          <button type="submit" class="btn btn-small btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">
                              <i class="fa fa-trash-o"></i>
                              Delete
                          </button>
                      {{ form_end(deleteForms[user.id]) }}
                  </td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
