{% extends 'baseAdmin.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>News edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-info" value="Save Edit" />
    {{ form_end(edit_form) }}
            <a href="{{ path('news_index') }}">Back to the list</a><br>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
