{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Category list</h1>
    {{ knp_pagination_render(pagination) }}
    <a class="pull-right btn btn-small" href="{{ path('category_new') }}"><i class="fa fa-plus-square-o"></i>&nbsp;Create new Category</a><br /><br />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th width="100">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for category in pagination %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ pagination.getPaginationData.firstItemNumber + loop.index - 1 }}</a></td>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.category | upper }}</a></td>
                <td>
                    <a class="btn btn-small" href="{{ path('category_edit', { 'id': category.id }) }}">
                      <button type="submit" class="btn btn-small">
                        <i class="fa fa-pencil-square-o "></i>
                        Edit
                      </button>
                    </a>
                    {{ form_start(deleteForms[category.id]) }}
                        <button type="submit" class="btn btn-small btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </button>
                    {{ form_end(deleteForms[category.id]) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
