{% extends 'base.html.twig' %}

{% block body %}

<!-- /.container -->
<div style="padding-top: 30px;padding-bottom: 20px;">
  <p class="tag-line2" style="text-align:center;">{{ category.category }}</p>
</div>
  <div class="container">
    <div class="col-md-3" style="padding-right: 30px;">
      <form name="form_search" id="form_search" method="get" action="{{ path('unites_filter', {'id': category.id}) }}">
      <div class="row">
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items:center;">
          <div>
            <p style="font-size: 16px;">COLOR</p>
          </div>
          <div>
            <p style="font-size: 11px;">CLEAR</p>
          </div>
        </div>
        {% for color in colors %}
        <div>
          <input type="checkbox" name="color[]" value="{{ color.id }}"> {{ color.colour }}
        </div>
        {% endfor %}
      </div>
      <hr/>
      <div class="row">
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items:center;">
          <div>
            <p style="font-size: 16px;">SIZE</p>
          </div>
          <div>
            <p style="font-size: 11px;">CLEAR</p>
          </div>
        </div>
        {% for size in sizes %}
        <div>
          <input type="checkbox" name="size[]" value="{{ size.id }}"> {{ size.size }}
        </div>
        {% endfor %}
      </div>
      <hr/>
      <div style="padding-top: 40px;padding-bottom: 50px;display:flex;justify-content: center;">
        <button type="submit" class="btn btn-warning">FILTER</button>
      </div>
      </form>
    </div>
    <div class="col-md-9">
      <div class="row" style="padding-bottom: 30px;">
      {% for unite in pagination %}
            <div class="col-md-4">
              <a href="{{ path('unites_show_public', { 'id': 2 }) }}" class="thumb-link">
                <div style="display: flex; justify-content: center;"><img src="{{ asset('web/uploads/unites/') }}{{ unite.largeImage }}" alt="" style="width: auto; height: 150px;"></div>
                <div style="display: flex; justify-content: center;">
                  <div style="width: 70%; text-align: center;">
                    <p>
                      <b>{{ unite.title }}</b><br>
                      {{ unite.subtitle }}<br>
                      <b>IDR {{ unite.price | number_format(2, ',', '.')}}</b>
                    </p>
                  </div>
                </div>
              </a>
          </div>
      {% endfor %}
      </div>
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
{% endblock %}
