{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Slide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slide.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('web/uploads/slide/') }}{{ slide.largeImage }}" height="100" width="auto"></td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if slide.createdAt %}{{ slide.createdAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('slide_edit', { 'id': slide.id }) }}">Edit</a>
        </li>
    </ul>
    {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-large btn-danger" onclick="return confirm('Are you sure you want to delete this item?')"> Delete</button>
    {{ form_end(delete_form) }}
{% endblock %}
