{% extends 'base.html.twig' %}

{% block body %}

<!-- /.container -->
  <div style="padding-top: 30px;padding-bottom: 20px;padding-left: 30px;">
    <p class="tag-line2" style="text-align:left;">{{ unite.category.category }}</p>
  </div>
  <div class="container">
    <div class="col-md-6" style="padding: 30px;display:flex; justify-content:center; align-items: center;">
      <img src="{{ asset('web/credo/img/detail.png') }}" style="width: auto; height: 400px;">
    </div>
    <div class="col-md-6 content-unite">
      <div>
        <h4>{{ unite.title }}</h4>
        <p><b>{{ unite.subtitle }}</b></p>
        <p style="width: 40%;">
          {{ unite.story | raw }}
        </p>
        <p><b>IDR {{ unite.price | number_format(2, ',', '.') }}</b></p>
        <div style="display:flex; flex-direction: row;">
          {% for item in unite.unitesimage %}
            <div class="img-thumb-ceramic" style="background-image: url({{ asset('web/uploads/buimage/') }}{{ item.largeImage }});"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <section class="img-detail-bottom" style="background-image: url({{ asset('web/credo/img/interior-design.jpg') }});">
  </section>
  <section id="philosphi-home">
    <h6>OUR PHILOSOPHI</h6>
    <p class="content-pilo">
      We empower our clients.<br>
      We offer you transparent, reliable, and comparable information to do your due diligence.
      The perfect engagement ring does not already exist in a display. It should be custom made
      with you, for you.
    </p>
  </section>
{% endblock %}
