{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Peoples</h1>

    <table>
        <tbody>
            <tr>
                <th width="100">Id</th>
                <td>{{ peoples.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ peoples.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ peoples.position }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ peoples.story | raw }}</td>
            </tr>
            <tr>
                <th>Profileimage</th>
                <td><img src="{{ asset('web/uploads/peoples/') }}{{ peoples.largeImage }}" height="400" width="400"></td>
            </tr>
        </tbody>
    </table><br>
            <a href="{{ path('peoples_index') }}">Back to the list</a><br />
            <a href="{{ path('peoples_edit', { 'id': peoples.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-large btn-danger" onclick="return confirm('Are you sure you want to delete this item?')" value="Delete">
            {{ form_end(delete_form) }}
        <br /><br />
{% endblock %}
