{% extends 'base.html.twig' %}

{% block body %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            {% for image in csr.csrimage %}
                <li data-target="#carousel" data-slide-to="{{ loop.index }}"></li>
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="{{ asset('web/uploads/csr/') }}{{ csr.largeImage }}" class="img-slider" alt="...">
          </div>
          {% for image in csr.csrimage %}
              <div class="item">
                  <img src="{{ asset('web/uploads/csrimage/') }}{{ image.largeImage }}" class="img-slider" alt="...">
              </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Page Content -->
    <div class="container">
        <div class="business-unit">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-title">{{ csr.title | upper }} </div>
                </div>
                <div class="col-md-6">
                  {{ csr.story | raw }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
